/*-- scss:defaults --*/
$primary: #f4a261;
$link-color: #f4a261;
$body-bg: #11181f;
$body-color: #dde3ea;
$navbar-bg: #0b1117;
$navbar-fg: #e2e8f0;
$navbar-hl: #f4a261;
$code-block-bg: #1a232d;
$input-bg: #1a232d;
$input-color: #dde3ea;

/*-- scss:rules --*/
.respuesta { background: rgba(244, 162, 97, .08); }
