/*-- scss:defaults --*/
$primary: #c2410c;
$link-color: #c2410c;
$body-color: #1f2933;
$navbar-bg: #14212e;
$navbar-fg: #f1f5f9;
$navbar-hl: #f4a261;

/*-- scss:rules --*/
.respuesta { background: rgba(194, 65, 12, .05); }
